<div id="bg">
    <img src="../../static/lib/images/about_us.jpg" alt="">
</div>
<div id="aboutUs">
    <div class="container-fluid" id="custom-navbar">
    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ui-sref="home">
                <a class="navbar-brand" href=""  style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-aaa1" id="id1">
            <ul class="nav navbar-nav">
                <!--<li style="font-family:hotels_menu_bold"><a href="" ><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburgerhidden-sm  hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contactus" ng-click="contactUsTabClick()"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>

            </ul>
        </div>
        <div id="contactus" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <p>For Corporate Queries: <br>
                        atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                        <br>
                        <p>For Reservations Queries: <br>
                        reservations@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Legal Queries: <br>
                        legal@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Recruitment Queries: <br>
                        careers@acornhotels.com<br> +91-124-6688093</p>


                    </div>
                    <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <div class="btn_inner_div white_border">
                            <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                                <h3>close</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>



    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" style="color: #ffffff; font-size: 28px;"></span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>-->

            </button>
            <div>
                <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-bbb1" id="id2">
            <ul class="nav navbar-nav">

                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->

                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> RESORTS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> SPECIALS</a></li>-->
            </ul>
        </div>

    </nav>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container" >


      <div class="row-fluid" style="margin-bottom: 5%;">

            <div class="span5 offsetHalf blockabout" >
              <div class="pull-center">
                <h1 class="text-center" style="font-family:heading; font-size:48px;">Cancellation Policy</h1>
                <br>
                  <h3>Cancellation Charges</h3>
                    <ul>
                        <li>25% if cancelled four days in advance.</li>
                        <li>50% if cancelled two or three days in advance.</li>
                        <li>50% if few of the total booked rooms are cancelled.</li>
                        <li>100% if cancelled one day prior to booking or on the same day.</li>
                        <li>Credit/Debit card cancellations will be charged 5% extra. </li>
                    </ul>

                  <h3>For Groups / for Special Celebration Dates (24th, 25th, 30th & 31st of December)</h3>
                    <ul>
                        <li>25% if cancelled forty five days in advance.</li>
                        <li> 50% if cancelled thirty days in advance.</li>
                        <li>50% if few of the total booked rooms are cancelled.</li>
                        <li>100% if cancelled fifteen days in advance or later.</li>
                        <li> Credit/Debit card cancellations will be charged 5% extra. </li>
                    </ul>

                  <h3>Confirmation/cancellation policy for weddings and large celebrations</h3>
                    <ul>
                        <li>25% of the total room tariff at the time of the confirmation of the booking.</li>
                        <li>100% of the total room tariff and chartering cost four months in advance.</li>
                        <li>80% of the balance of total expected budget 45 days in advance. </li>
                    </ul>

                  <p>If not complied to, the booking can be cancelled.</p>
                  <p>Full clearance of bill at the check-out.</p>
                  <p> In case of any cancellation the service tax of 14% on the advance will have to be retained as it is to be paid by us to the authorities by the 5th of the next month.</p>
                  <p> Total advance paid will be retained if cancelled anytime between 3 months and 31 days prior to the date.</p>
                  <p> 100% of the advance will be retained if cancelled 1 month prior to the date. </p>


                    <h4>Note:</h4>
                  <p>   Any postponement of the booking will be treated as a cancellation will be governed by the Cancellation Policy.    </p>
                  <p>A group booking is defined as :</p>
                    <ul>

                        <li>2 rooms or more for hotels with an inventory of 4-10 rooms</li>
                        <li>5 rooms or more for hotels with an inventory of 11-21 rooms</li>
                        <li>10 rooms or more for hotels with an inventory of 22-65 rooms </li>
                    </ul>


                    <h3>REFUNDS:</h3>
                    <ul>
                        <li>Refunds only through cheque for bookings made by cash/cheque/bank transfer.</li>
                        <li>Online refunds for bookings made through the website usually take 7-10 working days.</li>
                        <li>Credit/debit card online refunds will only be made against credit/debit card bookings and usually take 15 working days.</li>
                        <li>The original receipt must be presented for processing the refund.</li>
                        <li>Credit/debit card cancellations will be charged 5% extra. </li>
                    </ul>

              </div>
            </div>


      </div>


    </div><!---/cont---->

    </div>
  </div>


