<div id="bg">
    <img src="../../static/lib/images/about_us.jpg" alt="">
</div>
<div id="aboutUs">
    <div class="container-fluid" id="custom-navbar">
    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ui-sref="home">
                <a class="navbar-brand" href=""  style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-aaa1" id="id1">
            <ul class="nav navbar-nav">
                <!--<li style="font-family:hotels_menu_bold"><a href="" ><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contactus" ng-click="contactUsTabClick()"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>

            </ul>
        </div>
        <div id="contactus" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <p>For Corporate Queries: <br>
                        atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                        <br>
                        <p>For Reservations Queries: <br>
                        reservations@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Legal Queries: <br>
                        legal@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Recruitment Queries: <br>
                        careers@acornhotels.com<br>+91-124-6688093 </p>


                    </div>
                    <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <div class="btn_inner_div white_border">
                            <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                                <h3>close</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>



    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" style="color: #ffffff; font-size: 28px;"></span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>-->

            </button>
            <div>
                <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-bbb1" id="id2">
            <ul class="nav navbar-nav">

                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->

                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> RESORTS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> SPECIALS</a></li>-->
            </ul>
        </div>

    </nav>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container" >


      <div class="row-fluid" style="margin-bottom: 5%;">

            <div class="span5 offsetHalf blockabout" >
              <div class="pull-center">
                <h1 class="text-center" style="font-family:heading; font-size:54px;">Privacy Policy</h1>
                <br>
                <p>Acorn Hotels & Resorts take great pleasure and care in bundling the
                    ingredients for making the happiest memories. We try and make the stay
                    as smooth as possible for them. </p>
                <p>Going ahead, we request our guests to read this policy document
                    carefully before sharing their personal information with us. By visiting
                    our web sites, the guests accept the practices described in this policy
                    document. </p>
                <p>Acorn Hotels & Resorts reserve the right to change the privacy policy
                    from time to time and guests are requested to visit our website
                    frequently to learn about the recent changes.</p>
                <p>Personal information collected by Acorn Hotels & Resorts:</p>

                  <p>We may collect the following personal information: Guest name and
                  contact information; date of birth; how they prefer to be addressed in
                  communication from us, preferred modes of communication; job designation
                  and business address; spouse name, anniversary, credit card details,
                  including the three-digit code that appears on the back of credit card,
                  dates of arrival and departure from our hotels / restaurants / other
                  outlets, guests preferences when they stay or dine at Acorn Hotels &
                  Resorts, transaction history at Acorn Hotels & Resorts; offers guests
                  may have availed of from third party marketers in response to
                  communication from Acorn Hotels & Resorts. We may also record details on
                  guests who have stayed or dined with other guests at Acorn Hotels &
                  Resorts including their names and contact details.</p>

                  <p>Besides the above, we may also collect the following:</p>

                  <p>If you choose to reserve a room online we record your arrival and
                  departure dates, number of guests in the group, details of guest rooms
                  and tariff details.</p>

                  <p>When you make a request for a proposal from our meeting planners, by
                  visiting our websites.</p>

                  <p>When you contact us with your questions or comments.</p>

                  <p>We do not knowingly collect personal information from individuals under</p>

                  <p>18 years of age. As a parent or legal guardian, please do not to allow
                  children to submit personal information without prior permission. We do
                  not knowingly collect information related to your racial or ethnic
                  origin, political opinions, religious or other beliefs, health, criminal
                  background or political affiliations, unless it is volunteered by guests
                  themselves. We may use any health-related information provided by guests
                  only to serve them better and meet their specific needs when they stay
                  or dine at Acorn Hotels & Resorts.</p>

                  <p>Links to websites of third party marketers:</p>

                  <p>If our websites contain links to third parties websites, please do note
                  that we will not be responsible for the collection, use, maintenance,
                  sharing, or disclosure of data and information by such third parties.</p>

                  <p>For information provided by guests on third party sites, the privacy
                  policy and terms of service on those sites will be applicable and it is
                  advisable to read the privacy policies of websites that the guests visit
                  before submitting personal information.</p>

                  <p>Acorn Hotels & Resorts have a strict policy regarding the protection of
                  its guests' personal information</p>

                  <p>Acorn Hotels & Resorts will take the necessary measures to:</p>

                  <p>Protect guests' personal information collected against unauthorized
                  access, disclosure, alteration or destruction.</p>

                  <p>Keep the guests' personal information up-to-date, consistent with
                  applicable law.</p>

                  <p>When guests transact online, we seek to protect their personal
                  information that they provide. However, do note that no security system
                  or system of transmitting data over the Internet can be guaranteed to be
                  entirely secure.</p>

                  <p>Ensure that our affiliates and service providers take reasonable
                  measures to maintain the confidentiality of personal information about
                  guest.</p>

                  <p>How long does Acorn Hotels & Resorts retain your personal information?</p>

                  <p>Acorn Hotels & Resorts will retain guests' personal information for the
                  period necessary to fulfil the purposes outlined in this policy
                  document, unless a longer retention period is required or
                  permitted/mandated by applicable law.</p>

              </div>
            </div>


      </div>


    </div><!---/cont---->

    </div>
  </div>


