<div id="bg">
    <img src="../../static/lib/images/about_us.jpg" alt="">
</div>
<div id="aboutUs">
    <div class="container-fluid" id="custom-navbar">
        <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div ui-sref="home">
                    <a class="navbar-brand" href="" title="aaa" style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>

                </div>
            </div>
            <div class="collapse navbar-collapse navbar-aaa1" id="id1">
                <ul class="nav navbar-nav">
                    <!--<li style="font-family:hotels_menu_bold"><a href="" ><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                    <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                    <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contactus" ng-click="contactUsTabClick()"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>

                </ul>
            </div>
            <div id="contactus" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Contact Us</h4>
                        </div>
                        <div class="modal-body">
                            <p>For Corporate Queries: <br>
                                atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                            <br>
                            <p>For Reservations Queries: <br>
                                reservations@acornhotels.com<br>+91-124-6688093</p>
                            <br>
                            <p>For Legal Queries: <br>
                                legal@acornhotels.com<br>+91-124-6688093</p>
                            <br>
                            <p>For Recruitment Queries: <br>
                                careers@acornhotels.com<br>+91-124-6688093 </p>


                        </div>
                        <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                            <div class="btn_inner_div white_border">
                                <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                                    <h3>close</h3>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>



        <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-option-vertical" style="color: #ffffff; font-size: 28px;"></span>
                    <!--<span class="icon-bar"></span>
                    <span class="icon-bar"></span>-->

                </button>
                <div>
                    <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

                </div>
            </div>
            <div class="collapse navbar-collapse navbar-bbb1" id="id2">
                <ul class="nav navbar-nav">

                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->

                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> RESORTS</a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-md hidden-lg "></span> SPECIALS</a></li>-->
                </ul>
            </div>

        </nav>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container" >


        <div class="row-fluid" style="margin-bottom: 5%;">

            <div class="span5 offsetHalf blockabout" >
                <div class="pull-center">
                    <h1 class="text-center" style="font-family:heading; font-size:48px;">Terms & condition</h1>
                    <br>
                    <h2>General:</h2>

                    <p>Please take time to read these terms and conditions governing the "www.acornhotels.com" website. By accessing this website,
                        you agree to accept, without limitation or criterion, all of these terms and conditions of use. If you do not agree with these terms,
                        please do not use the site.</p>

                    <h2>Use of www.acornhotels.com</h2>
                    <p>You may only use this website to make genuine and valid reservations or purchases. You may not use this website to make any fraudulent,
                        false and exploratory reservation. You will be financially liable for all uses of this website. You will be responsible to keep your passwords,
                        login and account information in confidentiality.</p>

                    <h2>Reservations, Amendments and Cancellations</h2>
                    <p>All reservations are subject to availability. Reservations made on this site are considered conditional until a confirmation number is given
                        to the guest to substantiate the reservations by email or fax. The hotel may, from time to time, communicate with the guests, to re-confirm
                        the reservations and to prevent any simulated bookings.</p>
                    <p>Should the guests wish to amend any reservations, please reach out to us directly on phone or email. The Hotel/Resort/Condominium will not be
                        liable should it fail to provide its products and services due to unavailability.</p>
                    <p>In the event that the hotel, for reasons beyond its control, need to reject or change a confirmed reservations it will use all reasonable attempt
                        to facilitate the circumstances however if no alternative is provided to the client, the hotel will return any deposit made and considered it
                        cancelled. This is the limit of the hotels liability.</p>
                    <p>The hotel reserves the right to impose a cancellation fee of per room per night in the event of a late cancellation notice or a no-show at the hotel.</p>

                    <h3>Check-In / Check-Out:</h3>
                    <p>The guest is entitled to occupy the contracted guest room as per the Check-In/Check-Out policy. Check-in Time is 12 PM and Check-Out time is
                        12 Noon. Acorn Hotels & Resorts do not guarantee acknowledgement of reservations or transactions made on this site arising from unforeseen
                        circumstances, omissions or errors that may sometimes occur.</p>

                    <h3>Charges and Payment Terms:</h3>
                    <p>Acorn Hotels & Resorts reserve the right to charge a deposit, where applicable, on confirmation of a reservation. If the payments are not
                        complied with, we hold the right to cancel the booking without liability and retain the deposit. Where a deposit is required, payment
                        can be settled by major credit card or in the event where no credit card is available, settlement in cash is necessary to facilitate the
                        booking procedures.</p>

                    <h3>Extra Bed: Maximum of one extra bed per room is allowed on payment of appropriate charges. Internet Rates:</h3>
                    <p> Acorn Hotels & Resorts reserve the right to change, modify and adjust the rates with or without prior notice. The rates are governed and
                        subjected by terms and conditions stipulated by the hotel & resorts chain.</p>

                    <h3>Special Offers and Promotions:</h3>
                    <p> Offers and Promotions are subject to specific terms, conditions and restrictions listed on the site or Linked sites. We reserve the right to
                        modify or alter any program, offer or promotion at any time.</p>

                    <h3>Cancellation and Refund Policy</h3>
                    <p> Cancellation Charges </p>
                        <ul>
                            <li>25% if cancelled four days in advance.</li>
                            <li>50% if cancelled two or three days in advance.</li>
                            <li>50% if few of the total booked rooms are cancelled.</li>
                            <li>100% if cancelled one day prior to booking or on the same day.</li>
                            <li>Credit/Debit card cancellations will be charged 5% extra.</li>
                            <li>For Groups / for Special Celebration Dates (24th, 25th, 30th & 31st of December)</li>
                            <li>25% if cancelled forty five days in advance.</li>
                            <li>50% if cancelled thirty days in advance.</li>
                            <li>50% if few of the total booked rooms are cancelled.</li>
                            <li>100% if cancelled fifteen days in advance or later. </li>
                            <li>Credit/Debit card cancellations will be charged 5% extra.</li>
                            <li>Confirmation/cancellation policy for weddings and large celebrations</li>
                            <li>25% of the total room tariff at the time of the confirmation of the booking.</li>
                            <li>100% of the total room tariff and chartering cost four months in advance.</li>
                            <li>80% of the balance of total expected budget 45 days in advance.</li>
                            <li>If not complied to, the booking can be cancelled.</li>
                            <li>Full clearance of bill at the check-out.</li>
                            <li>In case of any cancellation the service tax of 14% on the advance will have to be retained as it is to be paid by us to the authorities by the 5th of the next month.</li>
                            <li>Total advance paid will be retained if cancelled anytime between 3 months and 31 days prior to the date.</li>
                            <li>100% of the advance will be retained if cancelled 1 month prior to the date.</li>
                        </ul>

                    <h4>Note:</h4>
                        <p>Any postponement of the booking will be treated as a cancellation will be governed by the Cancellation Policy.</p>
                        <p>A group booking is defined as :</p>
                        <ul>
                            <li>2 rooms or more for hotels with an inventory of 4-10 rooms</li>
                            <li>5 rooms or more for hotels with an inventory of 11-21 rooms</li>
                            <li>10 rooms or more for hotels with an inventory of 22-65 rooms </li>
                        </ul>

                    <h3>REFUNDS: </h3>
                        <ul>
                            <li>Refunds only through cheque for bookings made by cash/cheque/bank transfer. </li>
                            <li>Online refunds for bookings made through the website usually take 7-10 working days. </li>
                            <li>Credit/debit card online refunds will only be made against credit/debit card bookings and usually take 15 working days. </li>
                            <li>The original receipt must be presented for processing the refund.
                                Credit/debit card cancellations will be charged 5% extra.</li>
                        </ul>
                    <h3>Limitation of Liability and Disclaimer:</h3>
                    <p>Acorn Hotels & Resorts do not warrant that errors or omissions may sometimes occur. Acorn Hotels & Resorts do not warrant the accuracy,
                        timeliness, currency and completeness of the contents, including without limitation, any information relating to rates and room availability.
                        Acorn Hotels & Resorts disclaim any warranty of any kind, whether express or implied, as to any matter whatsoever relating to this web site
                        and other worldwide web links including without limitation, as to the merchantability or fitness for any particular purpose.</p>

                    <p>Acorn Hotels & Resorts will not be responsible for any damages including without limitation, damages for loss of profits arising in
                        contract or from your use or inability to use this site.</p>
                    <p>Acorn Hotels & Resorts do not guarantee that this site is free from infection by viruses and shall not be liable for any damages or loss.</p>
                    <p>In no event shall Acorn Hotels & Resorts nor their subsidiaries, agents, divisions, affiliates, representatives or licensors be liable to any
                        indirect, incidental or consequential damages whatsoever (including, without limitation, damages for loss of profits or loss of information)
                        arising from use or inability to use the contents, even if Acorn Hotels & Resorts have been informed of the possibility of such damages.
                        The Site may contain links to other World Wide Web sites, either directly or indirectly and, where possible, we will make clear where such
                        links are being made. Those sites are provided by independent third parties and Acorn Hotels & Resorts are not responsible for their availability
                        or content.</p>

                </div>
            </div>


        </div>


    </div><!---/cont---->

</div>
</div>



