<div id="bg">
    <img src="../../static/lib/images/about_us.jpg" alt="">
</div>
<div id="aboutUs">
    <div class="container-fluid" id="custom-navbar">
    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ui-sref="home">
                <a class="navbar-brand" href=""  style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-aaa1" id="id1">
            <ul class="nav navbar-nav">
                <!--<li style="font-family:hotels_menu_bold"><a href="" ><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm  hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contactus" ng-click="avoutUs_vm.contactUsTabClick()"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>

            </ul>
        </div>
        <div id="contactus" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <p>For Corporate Queries: <br>
                        atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                        <br>
                        <p>For Reservations Queries: <br>
                        reservations@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Legal Queries: <br>
                        legal@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Recruitment Queries: <br>
                        careers@acornhotels.com<br> +91-124-6688093</p>


                    </div>
                    <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <div class="btn_inner_div white_border">
                            <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                                <h3>close</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>



    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" style="color: #ffffff; font-size: 28px;"></span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>-->

            </button>
            <div>
                <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-bbb1" id="id2">
            <ul class="nav navbar-nav">

                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->

                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> RESORTS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-md hidden-lg "></span> SPECIALS</a></li>-->
            </ul>
        </div>

    </nav>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container" >


      <div class="row-fluid" style="margin-bottom: 5%;">

            <div class="span5 offsetHalf blockabout" >
              <div class="pull-center">
                <h1 class="text-center" style="font-family:heading; font-size:54px;">About Us</h1>
                <br>
                <p>A spiritual aphrodisiac, that's what Travel is to the new Indian. To uphold this wonderful fascination,
                    Acorn Hotels & Resorts have brought about the freshest hospitality solutions in the country. Addressing the modern traveler's appreciation of quality,
                    while acknowledging their self discouragement of extravagance,
                    Acorn has shaped their stays and services to be high on comfort and aesthetics - with a very friendly pricing to surprise pleasantly. </p>
                <p>Our portfolio of hotels, resorts and executive apartments is spreading across the country at just the right pace. Care is exercised to
                    pick the best properties at the most practical locations for a handcrafted experience for the guests. </p>
                <p>
                    Be enthralled by the splendid natural beauty you came for, that emphatic business win you clinched, a quenching rendezvous with someone so
                    far way that it ached. Be enthralled by Acorn.</p>
                  <div class="btn_outer_div white_border">
                        <div class="btn_inner_div white_border">
                        <a class="text-center txt" style="text-decoration:none; color:inherit;" data-toggle="modal" data-target="#contactus" ng-click="avoutUs_vm.contactUsTabClick()">
                            <h3>Contact Us</h3>
                        </a>
                        </div>
                  </div>
            </div>


      </div>


    </div><!---/cont---->

    </div>
  </div>


