<header class="masthead">
    <div class="container-fluid" id="custom-navbar">
    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <div ui-sref="home">
                <a class="navbar-brand" href=""  style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-aaa1" id="id1">
            <ul class="nav navbar-nav">
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contactus" ng-click="hotels_vm.contactUsTabClick()"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>

            </ul>
        </div>
        <div id="contactus" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <p>For Corporate Queries: <br>
                        atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                        <br>
                        <p>For Reservations Queries: <br>
                        reservations@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Legal Queries: <br>
                        legal@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Recruitment Queries: <br>
                        careers@acornhotels.com<br> +91-124-6688093</p>


                    </div>
                    <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <div class="btn_inner_div white_border">
                            <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                                <h3>close</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>



    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" style="color:white; font-size:20px"></span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>-->

            </button>
            <div>
                <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-bbb1" id="id2">
            <ul class="nav navbar-nav">

                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->

                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>  RESORTS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> SPECIALS</a></li>-->
            </ul>
        </div>

    </nav>
    </div>
</header>


<!--body of the hotel result-->
<div class="main_div">
<div class="container-fluid change-container">
    <div class="row text-center">
        <div class="col-xs-12 col-md-12">
            <form role="form" class="form-inline " name="filter_hotel_result">
                <div class="form-group custom-group">
                    <label class="col-xs-6 col-sm-6 col-md-4 col-lg-4">I am Going to</label>
                    <div class="col-xs-6 col-sm-6 col-md-8 hotelSearch-custom-input">
                        <!--<input type="text" class="form-control input-lg custom-control" id="cityName" placeholder="New Delhi">-->
                        <!--<select class="form-control input-lg custom-control" id="sel1" style="width: 100%; font-family:hotels_menu_thin;" ng-modal="hotels_vm.selectedCity" ng-options="city.city_name for city in hotels_vm.cities track by city.id" required name="city_select" >
                                <option value="" disabled selected style="display:none; ">Gurgaon</option>
                        </select>-->

                        <!--<select  class="custom_slct form-control input-lg custom-control" id="sel1" ng-model="hotels_vm.citySeleted" ng-options= "city.city_name for city in hotels_vm.cities track by city.id" required name="city_select">
                            <option value="" disabled  style="display:none">Where do you want to go ? </option>
                            <option value="" selected  style="display:none">{{hotels_vm.citySeleted}} </option>
                        </select>-->

                        <!--<select class="custom_slct form-control input-lg custom-control" id="citySelect" ng-model="hotels_vm.citySeleted" ng-options= "city.city_name for city in hotels_vm.cities track by city.id" required name="city_select">
                              <option value="" disabled selected="selected" style="display:none; ">{{hotels_vm.previouscity}}  </option>
                        </select>-->

                        <ui-select tagging tagging-label="('new')" id="hotels_citySelect" class=""  ng-model="hotels_vm.citySeleted" theme="bootstrap" style="width: 100%;" title="Choose a city"  >
                            <ui-select-match placeholder="{{hotels_vm.previouscity}}">{{$select.selected.city_name}}</ui-select-match><!---->
                            <ui-select-choices repeat="city in hotels_vm.cities">
                                <div ng-bind-html="city.city_name "></div>
                            </ui-select-choices>

                        </ui-select>

                        <!--{{hotels_vm.city.name}}-->
                        <!--<select class="form-control input-lg custom-control" id="sel1" style="width: 100%;">
                            <option>Rating</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>-->
                    </div>
                </div>
                <div class="form-group custom-group">
                    <!--<input type="text" required="required" placeholder="Check-In" class="rem-space datepicker text-center input_small">-->
                    <label class="col-xs-6 col-sm-6  col-md-3 col-lg-3 width31" for="checkIn">From</label>
                    <div class="col-xs-6 col-sm-6  col-md-2 col-lg-2 hotelSearch-custom-input date_input">
                        <!--{{checkin_date}}-->
                        <input type="text" class="form-control input-lg custom-control" id="checkin"  name="checkin"  placeholder="Check-In" ng-model="checkin_date" date-time-in>
                        <!--<input type="text"  id="checkin" required name="checkin" placeholder="Check-In" class="change-dim2 hidden-xs hidden-sm " ng-model="home_vm.checkin_date"  > &lt;!&ndash;onblur="checkOutBlur()"&ndash;&gt;-->
                    </div>
                </div>
                <div class="form-group custom-group">
                    <label class="col-xs-6 col-sm-6  col-md-3 col-lg-3 width31"  for="checkOut">To</label>
                    <div class="col-xs-6 col-sm-6  col-md-2 col-lg-2 hotelSearch-custom-input date_input">
                        <!--{{hotels_vm.checkout_date}}-->
                        <input type="text" class="form-control input-lg custom-control" id="checkout" name="checkin"  placeholder="Check-Out"  ng-model="hotels_vm.checkout_date" date-time-in>
                       <!-- <input type="text" class="form-control input-lg custom-control" id="checkout" name="checkout" placeholder="Check-Out"  ng-model="hotels_vm.checkout_date" date-time auto-close="true" view="date"  format="yyyy-MM-dd" min-view="date" >-->
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-sm-3 col-xs-3" for="checkOut">To</label>
                    <div class="col-sm-3 col-xs-3"><input type="text" class="form-control input-lg " id="checkOut" placeholder="11 Oct 2015"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                </div>-->
                <button type="button" class="changeBtn btn btn-lg btn-default hidden-sm hidden-xs text-uppercase" style="color:white; font-family:hotels_menu_bold" ng-click="hotels_vm.changeSearchData(hotels_vm.citySeleted,checkin_date,hotels_vm.checkout_date)" >Change</button>
                <button type="button" class="changeBtn col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3  col-md-8 col-sm-offset-2 btn btn-lg btn-default hidden-md hidden-lg"  ng-click="hotels_vm.changeSearchData(hotels_vm.citySeleted,checkin_date,hotels_vm.checkout_date)">Change</button>
                <script>
                    $(function() {
                        $( "#checkout" ).datepicker({
                            minDate: 0,
                            dateFormat : 'yy-mm-dd',
                            changeMonth: true,
                            changeYear: true,
                            onSelect: function(){
                                var abc=document.getElementById("checkout").value;
                            }
                        });
                    });
                </script>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 custom-body-panel" id="hotel-result-body">
            <div class="panel panel-info">
                <div class="panel-heading clearfix" id="sortingForm">
                    <h4 class="panel-title pull-left" style="padding-top: 7px; font-family:hotels_menu_bold" >{{hotels_vm.hotelsList.length}} RESULTS FOUND</h4>
                    <div class="input-group col-md-3 pull-right hidden-sm hidden-xs">
                        <ui-select tagging tagging-label="('new')" id="sortng" ng-model="hotels_vm.selectedSortData" theme="bootstrap" style="width: 100%;    font-family: hotels_menu_bold;" title="Sorting">
                            <ui-select-match placeholder="Sorting By">{{$select.selected.sort_by_category_name}}</ui-select-match>
                            <ui-select-choices repeat="sort in hotels_vm.sortby_data">
                              <div ng-bind-html="sort.sort_by_category_name "></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <label class="pull-right hidden-sm hidden-xs" style="padding-top: 7px; font-family:hotels_menu_bold" >SORT BY &nbsp;&nbsp;</label>
                    <div class="input-group pull-right col-xs-6 col-sm-6 custom-icon-button hidden-lg hidden-md">
                        <a href="#" class="btn  btn-lg">
                             FILTER<span class="glyphicon glyphicon-filter"></span>
                        </a>
                        <a href="#" class="btn  btn-lg">
                             SORT<span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </div>
                </div>


                <div class="panel-body" style="border: none">


                    <div class="container-fluid" style="padding: 0; " ng-repeat="hotel in hotels_vm.hotelsList">
                        <!--Logo address map row-->

                        <div class="row logo-addr-map">
                            <div class="col-md-5 hotels-logo text-center">
                                <img ng-src="{{hotel.hotel_logo.image_url}}">
                                <!--<img ng-src="{{hotel.hotel_logo.image_url}}" style="width: 200px;" class="col-md-6">
                                <span class="col-md-6" style="text-align: left; padding: 0; bottom: 10px;  position: absolute;  left: 41%;  font-size: 26px;">@ {{hotel.hotel_name}} </span>-->                                <!--{{hotel.hotel_logo.image_url}}-->

                            </div>
                            <div class="col-md-1 visible-md-block visible-lg-block hidden-sm" style="padding: 0;width: 10px">
                                <img ng-src="{{static_path}}lib/images/line.png">
                            </div>
                            <div class="col-md-5 custom-address">
                                <address style="font-family:hotels_menu_bold;text-transform: capitalize">{{hotel.hotel_street_address}}</address>
                            </div>
                            <div class="col-md-1 custom-map">
                                <!--<a href="" class="pull-right" style="font-family:hotels_menu_bold; font-size: .9em;" data-toggle="modal" data-target="#myModal">View Map</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Popup image</button>
                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                        &lt;!&ndash;<img src="//placehold.it/1000x600" class="img-responsive">&ndash;&gt;
                                        &lt;!&ndash;<my-maps id="map-canvas" latitude = '28.6017204' longitude='77.0276889'></my-maps>&ndash;&gt;
                                      </div>
                                    </div>
                                  </div>
                                </div>-->
                            </div>
                        </div>

                        <!--View Gallery Option-->
                        <div class="row">
                            <div class="col-md-12" style="padding: 2% 0">
                                <div class="" style="" >
                                    <img class="img-thumbnail fixed-ratio-resize" ng-src="{{hotel.default_image.image_url}}" width="100%" onload="imgLoaded(this)">
                                </div>
                                <script>
                                    function imgLoaded(img){
                                        var $img = $(img);
                                        $img.parent().addClass('loaded');
                                    }
                                </script>
                                <!--<gallery-dir></gallery-dir>-->
                                <div gallery-dir>
                                    <div ng-repeat="hotel_image in hotel.hotel_images">
                                        <a href="{{hotel_image.image_url}}"  class="fancybox pull-right" rel="gallery" ng-if="$index==0" style="font-family:hotels_menu_bold">View Gallery</a>
                                        <a href="{{hotel_image.image_url}}"  class="fancybox" rel="gallery" ng-if="$index>0" style="display:none"> </a>
                                    </div>

                                </div>
                                <!--<img ng-src="{{static_path}}lib/images/hotelsImg/8.jpg"  alt="This is the title" />-->
                                <!--<a href="{{static_path}}lib/images/hotelsImg/8.jpg" rel="prettyPhoto" title="This is the description">
                                    <img class="img-thumbnail fixed-ratio-resize" ng-src="{{static_path}}lib/images/hotelsImg/8.jpg" width="50%">
                                </a>-->
                            </div>
                        </div>

                        <!--Hotel Description-->
                        <div class="row">
                            <div class="col-md-12" style="padding: 2% 0">
                                <p style="font-family:hotels_menu_bold">{{hotel.hotel_description}}</p>
                                <!--<p style="font-family:hotels_menu_bold">
                                    <a href=""> Click here</a> to know more about {{hotel.hotel_name}}.
                                </p>-->
                            </div>
                        </div>

                        <!--Icons and avalable and bbok now-->
                        <div class="row" style="border-bottom: 1px solid rgba(0, 0, 0, 0.51)">
                            <div class="col-xs-12 col-md-6" style="margin-bottom: 2%; padding: 0;">
                                <div class="social-icons">
                                    <ul>
                                        <li ng-repeat="aminity in hotel.hotel_facilities"><img ng-src="{{aminity.facility_image.image_url}}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 pad text-center" >
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <!--<div class="btn btn-sm btn-danger full">ROOMS AVAILABLE</div>-->
                                    </div>
                                    <div class="col-xs-12 col-md-6" style="padding-right: 0;padding-left: 0;">
                                        <div class="btn btn-sm btn-success full" ng-if="hotel.forward_link"><a href="{{hotel.forward_link}}checkIn={{checkin_date}}&checkOut={{hotels_vm.checkout_date}}" class="btn btn-sm" target="_blank" style="color: white;font-size: 1.3em;">BOOK NOW</a> </div>
                                        <div class="btn btn-sm btn-success full" ng-if="!hotel.forward_link" ui-sref="preregistration({hotel_name:hotel.hotel_name})"><a href="" class="btn btn-sm" target="_blank" style="color: white;font-size: 1.3em;">Pre Registration</a> </div>
                                    </div>

                                </div>
                                <!--<button type="button" class="col-md-6 btn btn-lg btn-primary ">ROOMS UNAVAILABLE</button>
                                <button type="button" class=" col-md-6 btn btn-lg btn-primary">RESCHEDULE</button>-->
                                <!--<div class="row">
                                    <div class="col-md-4 col-md-offset-1">
                                        <button type="button" class="btn btn-lg btn-primary ">ROOMS UNAVAILABLE</button>
                                    </div>
                                    <div class="col-md-6 col-md-offset-1">
                                        <button type="button" class="btn btn-lg btn-primary">RESCHEDULE</button>
                                    </div>
                                </div>-->
                            </div>

                            <br/>
                        </div>
                        <br/>
                    </div>
                </div>

            </div>

            <!--Pardeep Code-->

                <div class="panel-body" style="border: none">

                    <div class="container-fluid" style="padding: 0;">
                        <!--Logo address map row-->

                        <div class="row logo-addr-map">
                            <div class="col-md-12">
                                <span style="font-family:hotels_menu_bold; font-size:35px">ACORN IS GROWING.</span>
                                <span style="font-family:hotels_menu_thin; font-size:20px"> COMING OVER SOON TO SOME REALLY EXCITING DESTINATIONS!</span>
                            </div>
                        </div>

                        <!--View Gallery Option-->
                        <div class="row">
                            <div class="col-md-12" style="padding: 2% 0">
                                <div class="" style="" >
                                    <img class="img-thumbnail" ng-src="{{static_path}}lib/images/Acorn-Search-Page---Coming-Soon-01.jpg" width="100%" onload="imgLoaded(this)">
                                </div>
                            </div>
                        </div>

                        <!--Hotel Description-->
                        <div class="row">
                            <div class="col-md-12" style="padding: 2% 0">
                                <p style="font-family:hotels_menu_bold">While we have started off from delhi and Gurgaon. We are Spreading fast and coming over to some of your favourite places. See you soon at: </p>
                                <!--<p style="font-family:hotels_menu_bold">

                                   <table style="font-weight:bold">
                                       <tr><td>MUMBAI<td> &nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp<td>PUNE</tr>
                                       <tr><td>LAVASA<td>&nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp<td>BANGALORE</tr>
                                       <tr><td>GOA<td>&nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp<td>RISHIKESH</tr>
                                       <tr><td>JAIPUR<td>&nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp<td>NEEMRANA</tr>
                                       <tr><td>JIM CORBETT<td>&nbsp &nbsp &nbsp &nbsp: &nbsp &nbsp<td>NANITAL</tr>
                                   </table>
                                </p>-->
                            </div>
                        </div>
                        <div class="row" style="font-family:hotels_menu_bold;font-weight:bold">
                            <div class="col-sm-6 col-md-3">
                                <ul>
                                    <li>MUMBAI</li>
                                    <li>LAVASA</li>
                                    <li>GOA</li>
                                    <li>JAIPUR</li>
                                    <li>JIM CORBETT</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <ul>
                                    <li>PUNE</li>
                                    <li>BANGALORE</li>
                                    <li>RISHIKESH</li>
                                    <li>NEEMRANA</li>
                                    <li>NANITAL</li>
                                </ul>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                     <br/>
                    </div>
                </div>
<!--pardeep code end here....-->
        </div>
    </div>
</div>


</div>




        <!--<div class="col-md-3 custom-filter-panel hidden-sm hidden-xs">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title custom-title" style="font-family:hotels_menu_thin">REFINE MY SEARCH</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        &lt;!&ndash;<div class="form">
                            <label class="control-label">Availability</label>
                            <label class="radio custom-radio">
                                <input value="show_all" type="radio" name="availability">Show all
                            </label>
                            <label class="radio custom-radio">
                                <input value="available_only" type="radio" name="availability">Available only
                            </label>
                            <label class="radio custom-radio">
                                <input value="imminent" type="radio" name="availability">Imminent availability
                            </label>
                        </div><br/>&ndash;&gt;
                        <div class="form">
                            <label class="control-label" style="font-family:hotels_menu_bold">Price</label>
                            <label class="radio custom-radio" style="font-family:hotels_menu_bold">
                                <input value="less_then_1500" type="radio" name="price">Below Rs.1500
                            </label>
                            <label class="radio custom-radio" style="font-family:hotels_menu_bold">
                                <input value="less_then_2500" type="radio" name="price">Rs.1500-Rs.2500
                            </label>
                            <label class="radio custom-radio" style="font-family:hotels_menu_bold">
                                <input value="less_then_3500" type="radio" name="price">Rs.2500-Rs.3500
                            </label>
                            <label class="radio custom-radio" style="font-family:hotels_menu_bold">
                                <input value="above_then_1500" type="radio" name="price" >Above Rs.3500
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
                                <!--<span style="font-family:hotels_menu_bold; font-size:35px">ACORN IS GROWING.</span>-->
