<!DOCTYPE html>
<html ng-app="acornApp">
<head>
  <title>Acorn Hotels</title>
  <link rel="icon" href="../static/lib/images/favicon/16x16.png" type="image/gif" sizes="16x16">
    {% load static from staticfiles %}
  <!--<base href="/" />-->

  <meta name="viewport" content="initial-scale=1" />

  {% include 'stylesheets.html' %}

</head>
{% verbatim %}
<body>
<notifications-bar class="notifications"></notifications-bar>
<!--<div class="splash" ng-cloak="">
    <h2>Loading........ </h2>

</div>-->

<!-- Preloader -->

<div id="preloader">
	<div id="loader">
        <div class="whirly-loader" style=" position: absolute; top: 50%; left: 50%;">
          Loading…
        </div>
		<!--<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="lading"></div>-->
	</div>
</div><!-- /#preloader -->

<!-- Preloader End-->


    <ui-view></ui-view>
    <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <p style="padding-top: 3%">© Acorn Hotels Pvt. Ltd. 2015 All Rights Reserved</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 footer-right">
                    <a href="https://www.facebook.com/acornhotels"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/acorn_hotels"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/10083964"><i class="fa fa-linkedin"></i></a>
                    <a href="#" style="visibility: hidden"><i class="fa fa-github"></i></a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-5">
                    <ul class="nav nav-tabs list pull-right hidden-sm hidden-xs" id="myTab" style="border: none;">
                        <li><a href="#" ui-sref="terms">Terms & Conditions</a></li>
                        <li><a href="#" ui-sref="policy">Privacy Policy</a></li>
                        <li><a href="#" ui-sref="cancelation">Cancellation Policy</a></li>
                    </ul>
                    <ul class="nav nav-tabs list text-center hidden-md hidden-lg" id="myTab" style="border: none;">
                        <li><a href="#" ui-sref="terms">Terms & Condition</a></li>
                        <li><a href="#" ui-sref="policy">Privacy Policy</a></li>
                        <li><a href="#" ui-sref="cancelation">Cancellation Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  {% endverbatim %}
  {% include 'javascripts.html' %}

</body>

</html>
