{% load staticfiles %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script>
        /* Preloder
         -------------------------------------------------------------------*/
        $(window).load(function () {
            "use strict";
            $("#loader").fadeOut();
            $("#preloader").delay(350).fadeOut("slow");
        });
        /* Preloder End
         -------------------------------------------------------------------*/
    </script>

    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>

    <!--for email and password encryption -->
    <script src="{% static 'bower_components/angular-base64/angular-base64.min.js' %}"></script>
    <!-- for bootstrap -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!--for angualr ui select sentiniizing-->
    <script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>





<!--for box slider  -->
    <script src="{% static 'lib/js/boxslider/dist/jquery.bxSlider.min.js' %}"></script>


    <!-- for one page scroll by pardeep full page is final-->
    <!--<script type="text/javascript" src="{% static 'lib/js/onepagescroll/jquery.onepage-scroll.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'lib/js/onepagescroll/jquery.fullPage.js' %}"></script>-->
    <!--angualr ui select added by ajay-->
    <script type="text/javascript" src="{% static 'lib/js/select/dist/select.min.js' %}"></script>

    <!--for fancybox-->
    <script type="text/javascript" src="{% static 'lib/js/fb-plugin/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

    <!--for angular datepicker-->
    <!--<script type="text/javascript" src="{% static 'bower_components/angular-datepicker/dist/angular-datepicker.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'lib/js/datepicker/dist/angular-datepicker.min.js' %}"></script>-->
    <!--for jquery cvalender-->
    <script src="{% static 'lib/js/calender/calender.js' %}"></script>
    <script src="{% static 'lib/js/calender/datepicker.js' %}"></script>
    <!--for angular notifiction bar-->

    <script src="{% static 'bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.js' %}"></script>
    <!--Back strectch image-->


<!----------google map api ----------->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKgxvMy8hbaDHnAw94rgxrRvoD4NQ-0Ag"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68173163-1', 'auto');
  ga('send', 'pageview');

</script>

<!--this is image onload method waiting for the image fully loaded-->
<script>

</script>





<script src="{% static 'dist/main.min.js' %}"></script>

