{% load staticfiles %}

    <link rel="icon" href="../static/lib/images/favicon/16x16.png" type="image/gif" sizes="16x16">


    <!--<link rel = "stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %} ">-->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %} ">

    <!-- Project loader  css -->
    <link rel="stylesheet" href="{% static 'lib/css/loader/whirly.min.css' %} ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="{% static 'lib/css/custom/styleP.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/css/custom/styleA.css' %}"/>-->

    <!--minified style sheeo-->
    <link rel="stylesheet" href="{% static 'lib/css/dist/style.min.css' %}">

    <!--<link rel="stylesheet" href="{% static 'lib/css/styleN.css' %}" />-->
    <!--for slider homepage-->
    <!--<link rel="stylesheet" href="{% static 'lib/css/boxslider/jquery.bxslider.css' %}">-->
    <!--for one page scroll-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'lib/css/onepagescroll/onepage-scroll.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'lib/css/onepagescroll/jquery.fullPage.css' %}">-->


    <!--angualr datee picker for date selection-->
    <!--<link rel="stylesheet" href="{% static 'lib/css/datepicker/dist/angular-datepicker.min.css' %}">-->
    <!--jquery calender css-->
    <link rel="stylesheet" href="{% static 'lib/css/calender/calender.min.css' %}">

    <!--for fancybox-->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/js/fb-plugin/source/dist/jquery.fancybox.min.css' %}">

    <!--for select menu -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-ui-select/dist/select.min.css' %}">

    <!--for notification bar-->
    <link rel="stylesheet" href="{% static 'bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.css' %}" />



<!--font-family: hotels_menu_thin;-->