
<div class="container-fluid hotelSearch">
    <div id="custom-navbar">
        <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <div ui-sref="home">
                    <a class="navbar-brand" href=""  style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>

                </div>
            </div>
            <div class="collapse navbar-collapse navbar-aaa1" id="id1">
                <ul class="nav navbar-nav">
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                    <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                    <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contact_modal"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>
                </ul>
            </div>

        </nav>



        <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-option-vertical" style="color:white; font-size:20px"></span>
                    <!--<span class="icon-bar"></span>
                    <span class="icon-bar"></span>-->

                </button>
                <div>
                    <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

                </div>
            </div>
            <div class="collapse navbar-collapse navbar-bbb1" id="id2">
                <ul class="nav navbar-nav">
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>-->
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm  hidden-md hidden-lg "></span> RESORTS</a></li>
                    <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                    <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> SPECIALS</a></li>-->
                </ul>
            </div>

        </nav>
    </div>

    <div class="container search" style="width:100%">
        <form action="#" name="search_hotel_form" id="homeSearchForm">
            <div class="row center-block" style="width:80%">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding:0;" >
                    <div class="form-group">
                        <div class="col-sm-12 col-lg-12" style="padding:0;">
                            <!--<select class="form-control input-lg custom-control change-dim" id="sel1" style="width: 100%;"  ng-model="home_vm.city" ng-options="city.city_name for city in home_vm.cities track by city.id">
                           </select>-->

                            <!--<select class="dropdown change-dim hidden-sm hidden-xs" ng-model="home_vm.citySelected" ng-options="city.city_name for city in home_vm.cities track by city.id" value="Gurgaon" required name="city_select">
                              <option value="" disabled selected="selected" style="display:none; ">&nbsp;&nbsp;&nbsp;Where do you want to go?</option>
                            </select>

                            <input type="text" class="change-dim hidden-lg hidden-md text-center" placeholder="Gurgaon" ng-model="home_vm.city" required name="city_select" data-toggle="modal" data-target="#myModal">
                            </select>-->
                            <!--<select  class=" dropdown input-lg hidden-sm hidden-xs  change-dim" id="sel1" ng-model="home_vm.citySeleted" ng-options= "city.city_name for city in home_vm.cities track by city.id">
                             <option value="" style="display:none">Where do you want to go ? </option>
                           </select>-->
                            <!--ng-options= "city.id as city.city_name for city in home_vm.cities track by city.id"-->


                            <!--<ui-select tagging tagging-label="('new')" ng-model="singleDemo.color" theme="bootstrap" style="width: 100%;" title="Choose a color">
                               <ui-select-match placeholder="Select color...">{{$select.selected}}</ui-select-match>
                               <ui-select-choices repeat="color in availableColors | filter: $select.search">
                                 <div ng-bind-html="color "></div>
                               </ui-select-choices>
                             </ui-select>
                             <p>Selected: {{singleDemo.color}}</p>-->

                            <ui-select tagging tagging-label="('new')" id="citySelect" class="hidden-sm hidden-xs" ng-model="home_vm.citySeleted" theme="bootstrap" style="width: 100%;" title="Choose a city">
                                <ui-select-match placeholder="Select city">{{$select.selected.city_name}}</ui-select-match>
                                <ui-select-choices repeat="city in home_vm.cities">
                                    <div ng-bind-html="city.city_name "></div>
                                </ui-select-choices>
                            </ui-select>
                            <!--<p>Selected: {{home_vm.citySeleted.id}} {{home_vm.citySeleted.city_name}}</p>-->
                            <input type="text" class="change-dim hidden-lg hidden-md text-center" style="box-shadow: none;" placeholder="Gurgaon" ng-model="home_vm.city" required name="city_select" data-toggle="modal" data-target="#myModal">
                            <!--<select class="change-dim hidden-sm hidden-xs" ng-model="home_vm.citySeleted" ng-options= "city.city_name for city in home_vm.cities track by city.id" required name="city_select">
                             <option value="" disabled selected="selected" style="display:none; ">&nbsp;&nbsp;&nbsp;Where do you want to go?</option>
                           </select>
                           <input type="text" class="change-dim hidden-lg hidden-md text-center" placeholder="Gurgaon" ng-model="home_vm.city" required name="city_select" data-toggle="modal" data-target="#myModal">-->
                        </div>
                    </div>
                </div>
                <!--<input type="text" date-time ng-model="start" required="true" view="hours" partial="true">-->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-sm hidden-xs" style="padding:0;"  >
                    <div class="form-group ">
                        <input type="text"  id="checkin" required name="checkin" placeholder="Check-In" class="change-dim2 hidden-xs hidden-sm " ng-model="checkin_date" date-time-in> <!--onblur="checkOutBlur()"-->
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-sm hidden-xs" style="padding:0;"  >
                    <div class="form-group ">
                        <input type="text" id="checkout" required name="checkout" placeholder="Check-Out" class="change-dim2 hidden-xs hidden-sm " ng-model="home_vm.checkout_date" date-time-in>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" style="padding:0;">
                    <div class="form-group ">
                        <input type="button"  value="SEARCH" ng-disabled="search_hotel_form.city_select.$error.required || search_hotel_form.checkin.$error.required || search_hotel_form.checkout.$error.required" ui-sref ="hotels({hotel_city_id:home_vm.citySeleted.id,hotel_city:home_vm.citySeleted.city_name,checkin:checkin_date, checkout:home_vm.checkout_date})" class="change-dim4">

                        <!--ng-disabled="search_hotel_form.city_select.$error.required || search_hotel_form.checkin.$error.required || search_hotel_form.checkout.$error.required"-->

                        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="conatiner-fluid">
    <div class="row image_grid">

        <div class="row" style="margin:30px 0px;">
            <div class="container-fluid text-left" style="margin-left:1.6%">
                <span style="font-family:hotels_menu_bold; font-size:35px"> LOOK WHO’S CALLING.</span>
                <span style="font-family:hotels_menu_thin; font-size:28px" class="text-center"> PLACES IN THE VICINITY OF OUR HOTELS AND RESORTS</span>
            </div>
        </div>

        <div class="container_fluid margin_sides">
            <div class="row" style="margin-right:0px">

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mobile_space">
                    <img src="{{static_path}}lib/images/slider_images/river.jpg" alt="" class="img-responsive center-block" onload="imgLoaded(this)">
                    <div class="content text-center">
                        <h3>NAINITAL</h3>
                        <h5 class="text-uppercase">Take a sabbatical and enjoy the tranquility amidst the green forests.</h5>
                        <!--<button type="button" class="btn btn_clr" style="border-radius:0px">KNOW MORE</button>-->
                    </div>
                </div>
                <script>
                    function imgLoaded(img){
                        var $img = $(img);
                        $img.parent().addClass('loaded');
                    }
                </script>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col_space">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mobile_space " >
                            <img src="{{static_path}}lib/images/slider_images/1_view4_2.jpg" alt="" class="img-responsive" >
                        </div>
                        <div class="content_small_one text-center">
                            <h3>LOTUS TEMPLE</h3>
                            <h6 class="text-uppercase">the all relegion temple is located at a 15<br class="hidden-lg"> minute drive from acorn, delhi</h6>
                            <!--<button type="button" class="btn btn_clr" style="border-radius:0px">READ MORE</button>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mobile_space ">
                            <img src="{{static_path}}lib/images/slider_images/marine-drive-innight-time.jpg" alt="" class="img-responsive" width="100%" >
                        </div>
                        <div class="content_small text-center">
                            <h3>MUMBAI</h3>
                            <h6 class="text-uppercase">Stay at the heart of the most modern city of India and enjoy the seaside view with Acorn.</h6>
                            <!--<button type="button" class="btn btn_clr" style="border-radius:0px">READ MORE</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--MOBILE VIEW............-->
<div class="modal fade modal-wide" id="myModal" role="dialog" style="padding-right:0px !important; width:100% !important">
    <form action="#" name="search_hotel_form">
        <div class="modal-content modal_mobile">

            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 close">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSqEktdrb-fCMC_dRtFg1pmM91Ebt67-mkRmdLaIBp18hs6GAhX" style="height:50px; " data-dismiss="modal">
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-xs-8 col-sm-8" style=" padding-right:0" id="homeSearchForm">
                        <!--<input type="text" readonly placeholder="Gurgaon" value="Gurgaon" class="font_form input_custom text-center border" required name="city_select">-->
                        <ui-select tagging tagging-label="('new')" id="citySelect"  ng-model="home_vm.citySeleted" theme="bootstrap" style="width: 100%;" title="Choose a city">
                            <ui-select-match placeholder="Select city">{{$select.selected.city_name}}</ui-select-match>
                            <ui-select-choices repeat="city in home_vm.cities">
                                <div ng-bind-html="city.city_name "></div>
                            </ui-select-choices>
                        </ui-select>
                        <!--<select class="change-dim" ng-model="home_vm.citySeleted" ng-options= "city.city_name for city in home_vm.cities track by city.id" required name="city_select">
                            <option value="" disabled selected="selected" style="display:none; ">&nbsp;&nbsp;&nbsp;Where do you want to go?</option>
                        </select>-->
                    </div>
                    <div class="col-xs-4 col-sm-4" style="background:green; padding-left:0; padding-right:0">
                        <button class="input_custom border hotels_menu_bold" style="background:#FF405B; color:white; font-family:hotels_body_regular; height: 80px;"
                                ng-disabled="search_hotel_form.city_select.$error.required || search_hotel_form.checkin.$error.required || search_hotel_form.checkout.$error.required"
                                ui-sref ="hotels({hotel_city_id:home_vm.citySeleted.id,hotel_city:home_vm.citySeleted.city_name,checkin:checkin_date, checkout:home_vm.checkout_date})"  ng-click="closee()"> Search</button>
                        <!--ng-disabled="search_hotel_form.city_select.$error.required || search_hotel_form.checkin.$error.required || search_hotel_form.checkout.$error.required"-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6 col-sm-6" style="padding-left:0px; padding-right:0px">
                    <!--<input type="text" required name="checkin" placeholder="Check-In" class="datepicker input_custom text-center border">-->
                    <!--<input type="text" required name="checkin" id="checkin" placeholder="Check-In" class="font_form input_custom text-center border" ng-model="home_vm.checkin_date" date-time auto-close="true" view="date"  format="yyyy-MM-dd" min-view="date">-->
                    <input type="text" required name="checkin" id="checkinmob" style="border:1px solid grey;box-shadow: none;" placeholder="Check-In"  class="font_form input_custom text-center border" ng-model="home_vm.checkin_date" date-time-in-mob readonly>
                </div>
                <div class="col-xs-6 col-sm-6" style="padding-left:0px; padding-right:0px">
                    <input type="text" required name="checkin" id="checkoutmob" style="border:1px solid grey; box-shadow: none;" placeholder="Check-out"  class="font_form input_custom text-center border" ng-model="home_vm.checkout_date" date-time-in-mob readonly>
                    <!--<input type="text" required name="checkout" id="checkoutMM" placeholder="Check-out" class="font_form input_custom text-center border" ng-model="home_vm.checkout_date" style="border:1px solid grey">-->
                    <!--<input type="text" required name="checkout" id="checkout" placeholder="Check-Out" class="datepicker input_custom text-center border"  >-->
                </div>

            </div>

        </div>
    </form>

</div>
<!---->
<!--model for mobile-->

<!--contact US modal-->
<div id="contact_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Us</h4>
            </div>
            <div class="modal-body">
                <p>For Corporate Queries: <br>
                    atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                <br>
                <p>For Reservations Queries: <br>
                    reservations@acornhotels.com<br>+91-124-6688093</p>
                <br>
                <p>For Legal Queries: <br>
                    legal@acornhotels.com<br>+91-124-6688093</p>
                <br>
                <p>For Recruitment Queries: <br>
                    careers@acornhotels.com<br>+91-124-6688093 </p>


            </div>
            <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <div class="btn_inner_div white_border">
                    <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                        <h3>close</h3>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--contact us modal-->

<style>
    #myModal .modal-content {
        height: 300px;
    }
    .modal_mobile .modal-wide .modal-dialog {
        width: 100%;
        padding:0px;
        margin:0px;
        height:100%;
    }

    .modal_mobile .modal-body{
        padding:0px !important;
        margin:0px !important;
        height:70px;
    }

    .modal_mobile .modal-footer{
        padding:0px !important;
        margin:0px !important;
        height:500px;
    }

    .modal_mobile .modal-header{
        height:50px;
        padding:0px !important;
        margin:0px !important;
    }

    .modal_mobile .modal-footer{
        padding:0px !important;
        margin:0px !important;
        height:70px;
    }

    .modal_mobile .input_custom{
        height:70px;
        /*search_hotel_form.checkin.$error.required || search_hotel_form.checkout.$error.required*/
        padding:0 !important;
        margin:0 !important;
        width:100%;
    }

    .modal_mobile .border{
        border:0px;
        text-decoration:none;
    }
</style>
