<div id="fullpage">

        <div class="section">       
               <!--carousel starts here....-->
                         <div class="container fill">
                            <div id="myCarousel" class="carousel slide">
                              <div class="carousel-inner">
                                <div class="active item">
                                  <div class="fill" style="background-image:url('static/lib/images/slider_images/1_carousal1.jpg');">
                                      <div class="container-fluid">
                                         <div class="row logo_home">
                                             <div class="col-md-1 col-xs col-sm">
                                                <img ng-src="{{static_path}}lib/logo.png" height="120px">
                                             </div>
                                         </div>
                                         
                                         <div class="conatainer" style="text-align:center">
                                             <div class="row margin_home">
                                                 <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                                                    <span style="color:white; font-size:22px; font-family: myFirstFont"><b>ACORN</b><span style="font-size:13px;"> hotel Presents</span></span>  
                                                 </div>
                                                 <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                                                    <span style="color:white; font-size:35px; font-family: myFirstFont">Such A Lovely Place</span>  
                                                 </div>                          
                                             </div>
                                         </div>
                                         
                                         <div class="container" style="text-align:center">
                                              <div class="row margin_btn">
                                                  <button class="custom_btn home_btn" ui-sref="hotelsSearchPardeep"><h4><b>Stay with us</b><h4></button><br>
                                                  <img ng-src="{{static_path}}lib/images/slider_images/arrow.png" width="5%">
                                              </div>                     
                                         </div> 
                                        <div class="container-fluid" style="position:absolute; top:96%; left:82%">
                                             <div class="row">
                                                 <span style="color:white"> View from Snow - by Acorn, Nainital</span>
                                             </div>
                                         </div> 
                                     </div>
                                  </div>
                                </div>
                                
                              </div>
                              <div class="pull-center">
                            	<!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                            	<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>-->
                              </div>
                            </div>
                         </div>
               <!--carousel ends here.....-->

             <!--<div class="container-fluid">
                 <div class="row logo_home">
                     <div class="col-md-1 col-xs">
                        <img ng-src="{{static_path}}lib/logo.png" height="120px">
                     </div>
                 </div>
                 
                 <div class="conatainer">
                     <div class="row margin_home">
                         <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                            <span style="color:white; font-size:22px; font-family: myFirstFont"><b>ACORN</b><span style="font-size:13px;"> hotel Presents</span></span>  
                         </div>
                         <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                            <span style="color:white; font-size:35px; font-family: myFirstFont">Such A Lovely Place</span>  
                         </div>                          
                     </div>
                 </div>
                 
                 <div class="container">
                      <div class="row margin_btn">
                          <button class="custom_btn home_btn" ui-sref="hotelsSearchPardeep"><h4><b>Stay with us</b><h4></button><br>
                          <img ng-src="{{static_path}}lib/images/slider_images/arrow.png" width="5%">
                      </div>                     
                 </div> 
             </div>-->
       
	      </div>
<!--Section Page 2 STRATS here....-->
        
        <div class="section">
            
             <div class="container-fluid">
                <div class="container"> 
                      <h1 class="text-left" style="font-family:heading;">{{data[0].heading}}</h1>
                      <p class="text-left" style="font-family:bold;font-size:18px">{{data[0].subheading}}</p>
                </div>
                  
                <!--Slider Part starts here... -->
                <div class="row">
                  <div class="slider-container">
                      <ul class="bxslider" >
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view1_1.jpg" /></li>
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view1_2.jpg" /></li>
                      </ul>
                   <script>
                        
                           $(document).ready(function(){
                            $('.carousel').carousel({
                                interval:5000,
                                
                            });
                            $(document).ready(function() {
                              $('#fullpage').fullpage();
                              });
                              
                            $('.bxslider').bxSlider({
                            slideMargin: 10,
                            maxSlides: 4,
                            responsive: true,
                            pager:false,   
                            ticker: true,
                            speed: 25000
                            });
                          });
                    </script>    
                  </div>
                </div>
               <!--Slider Part Ends Here... -->
               
                 <div class="container" style="text-align:center">
                         <div class="row margin_top">   
                          <button class="custom_btn" ui-sref="hotelsSearchPardeep"><h4><b>Stay with us</b><h4></button>
                        </div>
                  
                        <div class="row">
                           <img ng-src="{{static_path}}lib/images/slider_images/arrow.png" width="5%" class="margin_top">
                        </div>
               </div> 
            </div>
	      </div>
          
<!--Section Page 2 Ends here....-->

<!--Section Page 3 STRATS here....-->
        <div class="section">
            
             <div class="container-fluid">
                <div class="container"> 
                      <h1 class="text-left" style="font-family:heading;">{{data[1].heading}}</h1>
                      <p class="text-left" style="font-family:bold;font-size:18px">{{data[1].subheading}}</p>
                </div>
                  
                <!--Slider Part starts here... -->
                <div class="row">
                  <div class="slider-container">
                      <ul class="bxslider" >
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view2_1.jpg" /></li>
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view2_2.jpg" /></li>
                      </ul>
                  </div>
                </div>
               <!--Slider Part Ends Here... -->
               
                  <div class="container" style="text-align:center">
                     <div class="row margin_top">   
                      <button class="custom_btn" ui-sref="hotelsSearchPardeep"><h4><b>Stay with us</b><h4></button>
                     </div>
                  
                  <div class="row">
                        <img ng-src="{{static_path}}lib/images/slider_images/arrow.png" width="5%" class="margin_top">
                  </div>
               </div> 
            </div>
	      </div>
<!--Section Page 3 Ends here....-->
<!--Section Page 4 Starts here....-->        
		    <div class="section page4">
                
                 <div class="container-fluid">
                    <div class="container"> 
                          <h1 class="text-left" style="font-family:heading;">{{data[2].heading}}</h1>
                          <p class="text-left" style="font-family:bold;font-size:18px">{{data[2].subheading}}</p>
                    </div>
                 </div>
              
        <!--Slider Part -->
        <div class="row">
              <div class="slider-container">
                    <ul class="bxslider" >
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view3_1.jpg" /></li>
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view3_2.jpg" /></li>
                      </ul>
              </div>
        </div>
       <!--Slider Part -->
           
                 <div class="container" style="text-align:center">
                    <div class="row margin_top">   
                      <button class="custom_btn" ui-sref="hotelsSearchPardeep"><h4><b>Stay with us</b><h4></button>
                    </div>
                  
                  <div class="row">
                        <img ng-src="{{static_path}}lib/images/slider_images/arrow.png" width="5%" class="margin_top">
                  </div>
               </div>   
              
	      </div>  
                

 <!--Section Page 4 Ends here....-->
 <!--Section Page 5 starts here....-->
        <div class="section page5">
            
             <div class="container-fluid">
                <div class="container"> 
                      <h1 class="text-left" style="font-family:heading;">{{data[1].heading}}</h1>
                      <p class="text-left" style="font-family:bold;font-size:18px">{{data[1].subheading}}</p>
                </div>
                  
                <!--Slider Part starts here... -->
                <div class="row">
                  <div class="slider-container">
                    <ul class="bxslider" >
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view4_1.jpg" /></li>
                        <li><img ng-src="{{static_path}}lib/images/slider_images/1_view4_2.jpg" /></li>
                      </ul>
                  </div>
                </div>
               <!--Slider Part Ends Here... -->
               
               <div class="container" style="text-align:center">
                     <div class="row margin_top">   
                      <button class="custom_btn" ui-sref="hotelsSearchPardeep"><h4><b>Stay with us</b><h4></button>
                    </div>
                  
                  <div class="row">
                        <img ng-src="{{static_path}}lib/images/slider_images/arrow.png" width="5%" class="margin_top">
                  </div>
               </div> 
            </div>
	      </div>
 
 <!--Section Page 5 Ends here....-->
 
       </div>