<div id="bg">
    <img src="../../static/lib/images/1.jpg" alt="">
</div>

<div id="aboutUs">
    <div class="container-fluid" id="custom-navbar">
    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id ="upperNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-aaa1"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div ui-sref="home">
                <a class="navbar-brand" href=""  style="color:#ffffff;" ><img ng-src="http://acornhotels.com//static/lib/logo.png" height="120px" src="http://acornhotels.com//static/lib/logo.png"></a>

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-aaa1" id="id1">
            <ul class="nav navbar-nav">
                <!--<li style="font-family:hotels_menu_bold"><a href="" ><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;MY RESERVATIONS </a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> &nbsp;| &nbsp;SIGN IN</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;SIGN UP</a></li>-->
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm  hidden-md hidden-lg "></span>&nbsp;| &nbsp;MY ACCORNS </a></li>-->
                <li style="font-family:hotels_menu_bold"><a href="" ui-sref="aboutUs"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;ABOUT US</a></li>
                <li style="font-family:hotels_menu_bold"><a href="" data-toggle="modal" data-target="#contactus" ng-click="avoutUs_vm.contactUsTabClick()"><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>&nbsp;| &nbsp;CONTACT US</a></li>

            </ul>
        </div>
        <div id="contactus" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <p>For Corporate Queries: <br>
                        atul.sharma@acornhotels.com<br> +91-9650 222 990</p>
                        <br>
                        <p>For Reservations Queries: <br>
                        reservations@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Legal Queries: <br>
                        legal@acornhotels.com<br>+91-124-6688093</p>
                                            <br>
                        <p>For Recruitment Queries: <br>
                        careers@acornhotels.com<br> +91-124-6688093</p>


                    </div>
                    <div class="modal-footer" style="padding: 0 ;background-color: #808080">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <div class="btn_inner_div white_border">
                            <a class="text-center txt" style="text-decoration:none; color:inherit;" data-dismiss="modal" >
                                <h3>close</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>



    <nav class="navbar navbar-inverse 1navbar-fixed-top" role="navigation" id="lowerNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-bbb1"> <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" style="color: #ffffff; font-size: 28px;"></span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>-->

            </button>
            <div>
                <!--<a class="navbar-brand" href="" title="aaa" style="color:#ffffff;"></a>-->

            </div>
        </div>
        <div class="collapse navbar-collapse navbar-bbb1" id="id2">
            <ul class="nav navbar-nav">

                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span>RESERVATIONS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> ACCOMODATIONS</a></li>-->

                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> HOTELS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> RESORTS</a></li>
                <li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg "></span> CONDOS</a></li>
                <!--<li style="font-family:hotels_menu_bold"><a href=""><span class="glyphicon glyphicon-menu-hamburger hidden-md hidden-lg "></span> SPECIALS</a></li>-->
            </ul>
        </div>

    </nav>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row block-preregistration" >
            <div class="col-xs-1 col-sm-1 col-md-4" style="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8  registration-form">
                <div class="col-sm-8 col-sm-offset-2">

                    <!--Page HEader-->
                    <div class="">
                        <h1 style="font-family: hotels_menu_bold; font-size: 35px;">Pre-Registration Form</h1>
                    </div>

                    <!--Pre registration form-->
                    <!--Pass in the variable if our form is valid or invalid-->
                    <form name="userForm" ng-submit="preRegistration_vm.submitForm(userForm.$valid)" novalidate="">
                        <!-- NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                          <label>Name</label><span class="glyphicon-asterisk "></span>
                          <input type="text" name="name" class="form-control" ng-model="preRegistration_vm.preRegistration.name" required >
                          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                        </div>

                        <!-- USERNAME -->
                        <!--<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine}" required>
                          <label>Username</label>
                          <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
                          <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                          <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                        </div>-->

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{'has-error' : userForm.email.$invalid && !userForm.email.$pristine}" required>
                          <label>Email</label><span class="glyphicon-asterisk "></span>
                          <input type="email" name="email" class="form-control" ng-model="preRegistration_vm.preRegistration.email">
                          <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>

                        <!--Phone Number-->
                        <div class="form-group">
                            <label>Mobile No.</label>
                            <input type="text" name="mobile" class="form-control" ng-model="preRegistration_vm.preRegistration.phone_no" value="+91">
                        </div>

                        <div class="form-group" ng-class="{'has-error' : userForm.input.$error.required }">
                            <label>Arrival Date</label><span class="glyphicon-asterisk "></span>
                            <!--<input type="date" name="checkin" class="form-control" ng-model="preRegistration_vm.preRegistration.checkin" required>-->
                            <input type="text"  id="checkin" name="checkin" placeholder="Check-In" class="form-control" ng-model="checkin_date" date-time-in> <!--onblur="checkOutBlur()"-->
                            <!--<span ng-show="userForm.checkin.$error.required" class="help-block">Arrival Date Required</span>
                            <p ng-show="userForm.checkin.$invalid && !userForm.checkin.$pristine" class="help-block">Arrival Date Required</p>-->
                            <span class="error" ng-show="userForm.input.$error.required"> Arrival date required!</span>
                            <span class="error" ng-show="userForm.input.$error.date">  Not a valid date!</span>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : userForm.checkout.$invalid && !userForm.checkout.$pristine }">
                            <label>Departure Date</label><span class="glyphicon-asterisk " ></span>
                            <!--<input type="date" name="checkout" class="form-control" ng-model="preRegistration_vm.preRegistration.checkout" required>-->
                            <input type="text" id="checkout" required name="checkout" placeholder="Check-Out" class="form-control" ng-model="preRegistration_vm.preRegistration.depart_date" date-time-in>
                            <p ng-show="userForm.checkout.$invalid && !userForm.checkout.$pristine" class="help-block">Departure date required</p>
                        </div>


                        <div class="form-group" ng-class="{'has-error': userForm.adults.$invalid && !userForm.adults.$pristine}">
                            <label>No. of Adults</label><span class="glyphicon-asterisk "></span>
                            <input type="number" name="adults" class="form-control" min="0" ng-model="preRegistration_vm.preRegistration.no_of_adults" required>
                            <p ng-show="userForm.adults.$invalid && !userForm.adults.$pristine" class="help-block">Number of adults required</p>
                        </div>

                        <div class="form-group" ng-class="{'has-error': userForm.child.$invalid && !userForm.child.$pristine}">
                            <label>No. of Children</label><span class="glyphicon-asterisk "></span>
                            <input type="number" name="child" class="form-control" min="0" ng-model="preRegistration_vm.preRegistration.no_of_child" required>
                            <p ng-show="userForm.child.$invalid && !userForm.child.$pristine" class="help-block">Number of child required</p>
                        </div>

                        <div class="form-group" style="height: auto">
                            <label>Special Requests:</label>
                            <textarea class="form-control" name="requests" rows="5" id="requests" ng-model="preRegistration_vm.preRegistration.speacial_request"></textarea>
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <!--<button type="submit" class="btn btn-success"  style="margin: 2% auto;"></button>-->
                        <button type="submit" class="changeBtn btn btn-lg btn-default  text-uppercase"
                                ng-disabled="userForm.$invalid || preRegistration_vm.loading " style="background-color: #ff405B;color:white; font-family:hotels_menu_bold;margin: 2% auto;border-radius: 0">Submit</button>
                        <span ng-show="preRegistration_vm.loading">loading...</span>
                        <!--<div ng-show="preRegistration_vm.loading" class="whirly-loader" style=" position: absolute; top: 50%; left: 50%;">
                          Loading…
                        </div>-->
                    </form>

                </div>
            </div>
        </div>

    </div>
    <br/>

</div>
